/*************************Header**********************************************************/
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 180px;
}
.logo {
    width: 150px;
    padding: 15px;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    padding: 20px 0px;
}

.nav-items > ul > li {
    padding: 20px 10px;
    font-size: 24px ;
    margin-top: 20px;
}

.cart-logo {
    width: 75px;
    margin-top: -24px;
}

/*************************Body**********************************************************/

.search {
    padding: 10px 5px;
}

.res-cnt{
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 250px;
    padding: 5px;
    background-color: #f0f0f0;
    margin: 10px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 50%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.search-btn{
    height: 20px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;

}
/***************************Shimmer*******************************/
.shimmer-card{
    width: 250px;
    height: 500px;
    padding: 5px;
    background-color: #f0f0f0;
    margin: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login{
    padding: 0px 20px;
    margin: 30px 40px 0px 0px;
    height: 40px;
    width: 80px;
    background-color: beige;
    border-radius:10%;
    cursor: pointer;
}

/***************************User*******************************/

.user{
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

.user:hover{
    border: 1px solid black;
    cursor: pointer;
}
